*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width:  100%;
}
#loader{
    height: 100%;
    width:  100%;
    position: fixed;
    background-color: #000000;
    z-index: 999;
    padding: 25vh 8vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#line1-part1{
    /* background-color: #3e902d; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;

}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: silk serif ; 
    font-weight: 100;
    padding-right: 25px;

}
#line1-part1 h5{
    /* background-color: grey; */
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 4.5vw;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 0;
    width: 17vw;
    text-align: top;
    text-transform: uppercase;
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2s;

}
.line h1{
    font-size: 13vh;
    text-transform: uppercase;
    font-family: plain regular;
    text-align: left;
}


@keyframes anime {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        color: white;
        opacity: 1;
    }
    47%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }
}
#main{
    background-color: #151515;
    /* background-color: red; */
}
#page1{
    height: 100vh
    
}