*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width:  100%;
    overflow-x: hidden;
}
#loader{
    height: 100%;
    width:  100%;
    position: fixed;
    background-color: #000000;
    z-index: 999;
    padding: 25vh 8vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#line1-part1{
    /* background-color: #3e902d; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;

}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: silk serif ; 
    font-weight: 100;
    padding-right: 25px;

}
#line1-part1 h5{
    /* background-color: grey; */
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 4.5vw;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 0;
    width: 17vw;
    text-align: top;
    text-transform: uppercase;
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 2s;

}
.line h1{
    font-size: 13vh;
    text-transform: uppercase;
    font-family: plain regular;
    text-align: left;
}
@keyframes anime {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        color: white;
        opacity: 1;
    }
    47%{
        font-family: plain light;
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: silk serif;
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }
}
#main{
    background-color: #151515;
    /* background-color: transparent; */
    /* background-color: red; */
}
#page1{
    height: 100vh;
    /* background-color: transparent; */
    /* width: 100vw; */
}
#page1 #nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    padding-left: 9vw;
    padding-right: 5vw;;
}
#nav-part2{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
#nav-part2 h4{
    font-weight: 500;
    font-size: 1.1vw;
    font-family: "plain light";
}
.hero{
    /* background-color: green; */
    padding-left: 30vw;
    /* position: relative; */
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hero:nth-child(2){
    padding-top: 6vh;
}
.hero h1{
    font-family: plain;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 550;
    text-transform: uppercase;
    
}
#cursor{
    pointer-events: none;
    /* above prevents the cursor div from blocking interaction and scrolling. */
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    /* background-color: #000000; */
    position: fixed;
    z-index: 999;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);  
    /* above is to make sure cursor follows cursor's centre not right or left part */
}
#hero3 h2{
    /* text-decoration: underline; */
    font-family: plain;
    /* color: white; */
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 550;
    text-transform: uppercase;
    align-items: center;
    border-bottom: #fff solid 1.1vh; 
    padding-bottom: 0.2vw;
    /* transition: all 0.1s ease; */
    /* -webkit-text-stroke: 0; */
    display: inline-block;
    transition: color 0.2s ease, border-bottom 0.2s ease, -webkit-text-stroke 0.2s ease;


}
#hero3 h3{
    font-family: plain;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 550;
}
#hero3 h2:hover{
    -webkit-text-stroke: 0.3px #fff ;
    color: transparent;
    border-bottom: 1.1vh solid transparent;
    /* border-bottom-color: black; */
}
#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 17vh;
}
#video1{
    /* background-color: #ad3434; */
    height: 66vh;
    width: 71vw;
    position:relative;
    left: 27%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video1 img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#video1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
#video1 #cursor2{
    position: absolute;
    left: 80%;
    top:-10;
    pointer-events: none;
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border-width: 1px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transform: translate(-50%,-50%);
}
#cursor2 i{
    font-size: 4vh;
}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#page4 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 7vh 0;
}
#page4-content{
    width: 72vw;
    position: relative;
    font-family: "plain light";
    margin-left: 28%;
}
#page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}
#page4-content .underline {
    height: 1px;
    width: 95%;
    background-color: #fff;
    margin: 4vw 0vw;
    padding-right: 66vw;
    overflow-x: hidden;
}
#page4-content p {
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
}
#page4-flex img {
    width: 48%;
}
#page4-flex p {
    display: flex;
    font-size: 1.1vw;
    width: 29%;
    margin-left: 1vw;
}
#page4-blue-div {
    background-color: #3F7DF4;
    width: 44vw;
    padding: 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 24vw;
    font-size: 5vh;
}
.blue-div-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid #ffffff94;
}
.blue-div-elem h4 {
    font-size: 1.4vw;
    font-weight: 500;
}
#page4 .blue-div-elem p {
    font-size: 1.4vw;
    font-weight: 500;
    width: 70%;

}
#page4 h5{
    font-weight: 300;
}
#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#page5 .elem, .elem1{
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0vw;
    padding: 0vw;
    line-height: 13vh;
}
.elem h1{
    font-family: silk serif;
    /* background-color:gray; */
    font-size : 7vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: motion;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
.elem1 h1{
    font-family: silk serif;
    /* background-color: red; */
    font-size : 7vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 16px;
    animation-name: motion;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}
@keyframes motion {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px)); /* it is not -20% it is dash  */
    }
}
#page5 .elem span{
    font-family: plain light;
    -webkit-text-stroke: 1px white;
    color: transparent;
}
#page5 .elem1 span{
    font-family: plain light;
    -webkit-text-stroke: 1px white;
    color: transparent;
}










